@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-end-rgb: 255, 255, 255;
  }
  
  /* 다크 모드 지원 */
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-end-rgb: 0, 0, 0;
    }
  }

/* Body 스타일 */
body {
  font-family: "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--gray005); /* 배경색을 사용자 정의 gray005로 설정 */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-mid {
    position: relative; /* 부모 요소에 relative 추가 */
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    background-color: #ffffff;
    letter-spacing: -0.04em;
    border: 1px solid var(--gray010); /* 테두리에 gray010 색상 적용 */
}
